*{ margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
}
.regiterForm{
   background-color: rgba(12, 15, 53, 0.3);
    padding: 50px;
    width: 80%;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
     color: #FFFFFF;
    
    
    

}
.layOut {
    position: absolute;
    width: 100%;
  
    height: 100%;
  
    top: 0;


}
.regiterForm h3{
    color: aliceblue;
    font-weight: 400;
}
.regiterForm p {
    color: #9F9F9F;
    font-size: 20px;

}
.regiterForm form{
    width: 600px;
}
form .inps{

    padding: 10px 15px;
   
    border: none;
    background: #9F9F9F26;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    

}
form .inpTel{
    text-align: end;
}
.form-control:focus {
    border:none;
    outline: 0;
    box-shadow:none;
}
.formValied{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formValied .check{
    display: flex;
    align-items: center;
    color: #9F9F9F;
    gap: 7px;

}
.formValied .check .checkbox{
    width: 15px;
    height: 15px;
}
.formValied  a{
    color:blue;
}
form .btns{
    width: 100%;
    margin: 15px 0 ;
    padding: 15px ;
    border: none;
    outline: none;
    border-radius: 10px;
    background:blue;
    font-weight: 600;
    color: #fff;
}
form .btnSign{
    background-color: transparent;
    transition: 2s ease-in-out background-color;
}
form .btns:disabled {
    background-color:rgb(19, 19, 55);
    cursor: not-allowed;
    opacity: 0.7;
  }


  
@media screen and (max-width: 900px) {
    .Regiter{
        height: 100vh;
    }
    .regiterForm{
        width: 100%;
        padding: 25px;
    }
    .regiterForm form{
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .Regiter{
        height: 100vh;
    }
    .Regiter{

        background-position: center;
        padding: 20px;
    }
    
    .regiterForm{
        width: 100%;
        padding: 15px;
    }
    .formValied{
    
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}