
<section
  class="Regiter d-flex align-items-center justify-content-center"
  *ngIf="step1"
>
 
  <div class="regiterForm">
    <h3>Forget Password</h3>
    <p>Enter Your Email To Reset Password</p>

    <form (ngSubmit)="handelforgetpassword()" [formGroup]="forgetpasswordform">
      <div class="form-group mt-3">
        <label for="email" class="mb-3"> Your Email</label>
        <input
          type="email"
          class="form-control inps"
          id="email"
          formControlName="email"
          placeholder="Enter Your Email"
        />
        <div
          *ngIf="
            forgetpasswordform.get('email')?.errors &&
            forgetpasswordform.get('email')?.touched
          "
          class="text-danger mt-1"
        >
          <span *ngIf="forgetpasswordform.get('email')?.errors?.['required']"
            >Email is Required</span
          >
          <span *ngIf="forgetpasswordform.get('email')?.errors?.['email']"
            >Email is Not Valid</span
          >
        </div>
        <span class="text-danger mt-1">{{ message }}</span>
      </div>

      <button
        class="btnRegster btns"
        [disabled]="!forgetpasswordform.valid || isloading"
        type="submit"
      >
        <span *ngIf="!isloading">Done</span>
        <span
          *ngIf="isloading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span *ngIf="isloading">Loading...</span>
      </button>

      <a routerLink='/register'>
        Dont have Account .. Sign up?
      </a>
    </form>
  </div>
</section>
<!-- Step Two  code   -->

<section class="Regiter d-flex align-items-center justify-content-center" *ngIf="step2">
 
    <section class="regiterForm">
        <h3>Code Activation</h3>
        <p>Code Send To Your Email</p>

        <form (ngSubmit)="hanelResetCode()" [formGroup]="ResetCodeform">
            <div class="form-group mt-3">
                <label for="Code" class="mb-3">Your Code</label>
                <input type="tel" class="form-control inps inpTel" id="Code" formControlName="resetCode"
                     />
                <div *ngIf="
              ResetCodeform.get('resetCode')?.errors &&
              ResetCodeform.get('resetCode')?.touched
            " class="text-danger mt-1">
                    <span *ngIf="ResetCodeform.get('resetCode')?.errors?.['required']">Code is Required</span>
                </div>
                <span class="text-danger mt-1">{{ message }}</span>
            </div>

            <button class="btnRegster btns" [disabled]="!ResetCodeform.valid || isloading" type="submit">
                <span *ngIf="!isloading">Done</span>
                <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                <span *ngIf="isloading">Loading...</span>
            </button>
        </form>
    </section>
</section>

<!-- Step Three  Reset pass  -->

<section class="Regiter d-flex align-items-center justify-content-center" *ngIf="step3">
   

  <section class="regiterForm" *ngIf="step3">
      <h3>New password</h3>
    

      <form (ngSubmit)="handelnewPassword()" [formGroup]="newPasswordform">
          <div class="form-group mt-3">
              <label for="email" class="mb-3"> Your Email</label>
              <input type="email" class="form-control inps" id="email" formControlName="email"
              />
              
              <div *ngIf="
              newPasswordform.get('email')?.errors &&
              newPasswordform.get('email')?.touched
            " class="text-danger mt-1">
                  <span *ngIf="newPasswordform.get('email')?.errors?.['required']">Email Required</span>
                  <span *ngIf="newPasswordform.get('email')?.errors?.['email']">Email not Valid</span>
              </div>
          </div>

          <div class="form-group mt-3">
              <label for="password" class="mb-3">New Password</label>
              <input type="password" class="form-control inps" id="password" formControlName="newPassword"
                  />
              <div *ngIf="
              newPasswordform.get('newPassword')?.errors &&
              newPasswordform.get('newPassword')?.touched
            " class="text-danger mt-1">
                  <span *ngIf="newPasswordform.get('newPassword')?.errors?.['required']"> Password is required</span>
                  <span *ngIf="newPasswordform.get('newPassword')?.errors?.['pattern']">At least 6 characters or numbers Start With Number</span>
              </div>
          </div>

          <button class="btnRegster btns" [disabled]="!newPasswordform.valid || isloading" type="submit">
              <span *ngIf="!isloading">Done</span>
              <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
              <span *ngIf="isloading">Loading...</span>
          </button>
      </form>
  </section>



</section>
