
<div class="container py-5">
<H1>ReGister</H1>
<form (ngSubmit)="SbmitRegister(registerfform)" [formGroup]="registerfform">
  <label for="name" class="mt-1">Name</label>
  <input type="text" formControlName="name" class="form-control" id="name" />
  <div *ngIf="
      registerfform.get('name')?.errors && registerfform.get('name')?.touched
    "
    class="alert alert-danger my-1"
   
  >
    <p *ngIf="registerfform.get('name')?.errors?.['required']" class="m-0">
      Name is required
    </p>
    <p *ngIf="registerfform.get('name')?.errors?.['minlength']" class="m-0">
      Name must be more than 2 characters
    </p>
    <p *ngIf="registerfform.get('name')?.errors?.['maxlength']" class="m-0">
      Name must be less than 10 characters
    </p>
  </div>

  <label for="email " class="mt-5">email</label>
  <input type="email" formControlName="email" class="form-control" id="email" />
  <div
  *ngIf="
      registerfform.get('email')?.errors && registerfform.get('email')?.touched
    "
    class="alert alert-danger my-2"
    
    class="alert alert-danger my-1"
  > 
    <p *ngIf="registerfform.get('email')?.errors?.['required']" class="m-0">
      email is required
    </p>
  </div>
  <label for="phone" class="mt-5">phone</label>
  <input
    type="tel"
    formControlName="phone"
    class="form-control"
    id="phone"
  />
  <div *ngIf="
      registerfform.get('phone')?.errors && registerfform.get('phone')?.touched
    "
    class="alert alert-danger my-2"
   
  >
    <p *ngIf="registerfform.get('phone')?.errors?.['required']" class="m-0">
      phone is required
    </p>
    <p *ngIf="registerfform.get('phone')?.invalid &&registerfform.get('phone')?.touched " class="m-0">
      phone must be 11 numbers
    </p>
  </div>
  <label for="password" class="mt-5">Password</label>
  <input
    type="password"
    formControlName="password"
    class="form-control"
    id="password"
  />
  <div *ngIf="registerfform.get('password')?.errors && registerfform.get('password')?.touched" class="alert alert-danger my-2">
    <p *ngIf="registerfform.get('password')?.errors?.['required']" class="m-0">
      Password is required
    </p>
    <p *ngIf="registerfform.get('password')?.errors?.['pattern']" class="m-0">
      At least 6 characters or numbers
    </p>
  </div>
  
  <label for="rePassword" class="mt-5">RePassword</label>
  <input
    type="password"
    formControlName="rePassword"
    class="form-control"
    id="rePassword"
  />
  <div *ngIf="registerfform.get('rePassword')?.errors && registerfform.get('rePassword')?.touched" class="alert alert-danger my-2">
    <p *ngIf="registerfform.get('rePassword')?.errors?.['required']" class="m-0">
      rePassword is required
    </p>
    <p *ngIf="registerfform.get('rePassword')?.errors?.['pattern']" class="m-0">
      At least 6 characters or numbers
    </p>
  </div>
 
    <p *ngIf="errorpassword" class="alert bg-danger m-0 my-2" >{{errorpassword}}</p>

  <div class="mt-4 d-flex align-items-center justify-content-center">
    <button type="submit" [disabled]="registerfform.invalid" class="btn btn-info" >
      Login
    </button>
  </div>
  <a routerLink="/login" style="color: rgb(118, 142, 177) !important; ">
    already have accout? Sigin
  </a>
</form>
</div>